<div class="container">
  <div class="row">
    <h3 class="text-center" >Create a new list</h3>
      <%= simple_form_for @list do |f| %>
        <%= f.input :name, placeholder: 'Drama' %>
        <div class="container">
          <div class="d-grid gap-2">
            <%= f.submit class: 'btn btn-flat' %>
          </div>
        </div>
      <% end %>
  </div>
</div>

  <div class="container">
    <div class="d-grid gap-2">
      <%= link_to 'Back to all lists', root_path, class: 'btn btn-primary mt-1 mb-1' %>
    </div>
  </div>
